.madhu6{
    background-image: url(assoc/post.png);
    height: 750px;
    background-repeat: no-repeat;
    background-size: 78%;
    padding-top: 9%;
    width: 135%;
}
.box6{
    position: absolute;
    left: 40%;
    top: 30%;
    background-color:darkred;
    width: 25%;
    border-radius: 5%;
    height: 45%;
    color: white;
}
.yor
{
    position: center;
    top:100%;
    height: 40px;
    width: 138px;
    left: 30px;
    color:white;
    background-color:darkgoldenrod;
    border: 15px;
}
